parameters:
    level: 7
    paths:
        - src
    checkMissingIterableValueType: false
    ignoreErrors:
        # Some elements (especially Partials) have constructors, but all have only optional params.
        - '#Unsafe usage of new static.*#'
        # I don't know how to do abstract factories the right way, apparently.
        - '#Method .*MenuFactory::create\(\) has no return typehint specified.#'
