parameters:
    level: 6
    paths:
        - src
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        # Some elements (especially Partials) have constructors, but all have only optional params.
        - '#Unsafe usage of new static.*#'
