parameters:
    level: 5
    paths:
        - src
    #checkMissingIterableValueType: false
    ignoreErrors:
        # Some elements (especially Partials) have constructors, but all have only optional params.
        - '#Unsafe usage of new static.*#'
